*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.mainbg {
    background-color: #b8e0d2;
}

.bg{
    background-color: #9297c4;
}

.navbar{
    padding:0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media(max-width:767px) {
    .ul-bg {
        background-color: #9297c4;
    }
}

nav .nav-item a:hover{
    color: #2c666e !important
}