*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    padding-top: 30rem; /* Adjust this value based on your navbar height */
}

section {
    scroll-margin-top: 5rem; /* Adjust this value based on your navbar height */
}

.mainbg {
    background-color: #b8e0d2;
}

@media(max-width:767px) {
    .mainbg {
        background-color: #b8e0d2;
    }
}

.bg{
    background-color: #9297c4;
}

.navbar{
    padding:0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media(max-width:767px) {
    .ul-bg {
        background-color: #9297c4;
    }
}

nav .nav-item a:hover{
    color: #2c666e !important
}



.animated-text {
    transition: transform 1s ease-in-out;
  }

 
  .animated-text:hover {
    transform: rotate(360deg);
  }

  .bg-hover:hover {
    background-color: #694966;
    color: white;
  }